<div class="jumbotron">
  <div class="container">
    <h1>Pinta Previa!</h1>
    <p>Pinta Previa es una aplicación web social que facilita el armado de grupos heterogéneos para situaciones de esparcimiento nocturno, comúnmente conocidas como “previas”. Se presenta como una red social en donde los usuarios podrán agruparse entre sí con el objetivo de encontrar otros grupos de usuarios similares a fin de producir un encuentro dedicado al esparcimiento y diversión nocturna.</p>
    <button type="button" class="btn btn-primary btn-lg" href="#">Registrate &raquo;</button>
  </div>
</div>
