<div class="panel panel-primary">
  <div class="panel-heading">Editar grupo</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
<%= link_to 'Atrás', previa_groups_path, class: 'btn btn-success btn-lg'%>
