<div class="panel panel-primary">
  <div class="panel-heading">Lista grupos encontrados</div>
  <div class="panel-body">
  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  

    <table class="table table-bordered" summary="Lista de los grupos que coincidieron con los parámetros de búsqueda">
      <thead>
        <tr>
          <th id="columna_nombre">Nombre</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @previa_groups_found.each do |previa_group| %>
          <tr>
            <td headers="columna_nombre"><%= previa_group.name %></td>
            <td headers="columna_acciones">
            <span class="btn btn-info"> <%= link_to 'Detalles', previa_group_details_path(previa_group) %> </span>
            <span class="btn btn-success"> <%= link_to 'Invitar', previa_group_invite_group_path(previa_group), method: :post, data: { confirm: '¿Estás seguro?' } %> </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>