<ul class="nav nav-sidebar">
  <li class="<% current_page?(new_previa_group_path) %>">

    <%= link_to "<span class='sr-only'>(current)</span>Crear Grupo".html_safe, new_previa_group_path%>

  </li>
  <li><a href="#">Invitar usuarios</a></li>
  <li><a href="#">Eliminar grupo</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="">Mensajes</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="">Perfil</a></li>
</ul>