    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Iniciar sesión</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1><span class="label">Pinta Previa</span></h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= form_for :users, url: url_for( :controller => :users, :action => :login ), :html => {:class => "navbar-form navbar-right"} do |f| %>
            <div class="form-group">  
              <label class="sr-only" for="email">Mail</label>
              <input type="text" id="email" name="email" placeholder="Mail" class="form-control">
            </div>
            <div class="form-group">
              <label class="sr-only" for="pass">Clave</label>
              <input type="password" id="pass" name="pass" placeholder="Clave" class="form-control">
            </div>
            <%=tag("input", type: 'submit', class: "btn btn-success btn-md", value: "Ingresar", 'aria-label' => 'Ingresar') %>
          <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>