    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="row">
            <div class="col-sm-4">

              <h1><%= image_tag(@user.image.thumb.url, :alt => "Imagen de perfil del usuario")  if @user.image? %><span class="label"><%= @user.first_name%></span></h1>
            </div>
            <div class="col-sm-4">
          <%= form_for :users, url: url_for( :controller => :users, :action => :logout ), :html => {:class => "navbar-form navbar-right"} do |f| %>
            <%=tag("input", type: 'submit', class: "btn btn-primary btn-md", value: "Cerrar sesión") %>
          <% end %>
            </div>
          </div>
      </div>
    </nav>