<div class="panel panel-primary">
  <div class="panel-heading">Editing User</div>
  <div class="panel-body">
    <%= render 'form' %>

    <%= link_to 'Mostrar', @user, class: 'btn btn-success' %>
    <%= link_to 'Usuarios', users_path, class: 'btn btn-primary' %>
  </div>
</div>
