<div class="panel panel-primary">
  <div class="panel-heading">Lista grupos liderados</div>
  <div class="panel-body">

    <p id="notice"><%= notice %></p>

    <table class="table table-bordered" summary="Lista de los grupos que lidera el usuario">
      <thead>
        <tr>
          <th id="columna_nombre">Nombre</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @groups_leading.each do |previa_group| %>
          <tr>
            <td headers="columna_nombre"><%= previa_group.name %></td>
            <td headers="columna_acciones">
              <% if !previa_group.active %>
              <span class="fa fa-navicon fa-lg"> <%= link_to 'Seleccionar', previa_group_invitable_users_path(previa_group) %> </span>
              <span class="fa fa-navicon fa-lg"> <%= link_to 'Finalizar', previa_group_finish_path(previa_group), method: :post, data: { confirm: '¿Estás seguro?' } %> </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
