<div class="panel panel-primary">
  <div class="panel-heading">Lista grupos liderados</div>
  <div class="panel-body">

  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

    <table class="table table-bordered" summary="Lista de los grupos que lidera el usuario">
      <thead>
        <tr>
          <th id="columna_nombre">Nombre</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @groups_leading.each do |previa_group| %>
          <tr>
            <td headers="columna_nombre"><%= previa_group.name %></td>
            <td headers="columna_acciones">
              <% if !previa_group.active %>
              <%= link_to "<span class='fa fa-hand-o-up fa-lg' aria-hidden='true'></span> Seleccionar".html_safe, previa_group_invitable_users_path(previa_group), class: "btn btn-primary" %>
              <%= link_to "<span class='fa fa-check fa-lg' aria-hidden='true'></span> Finalizar".html_safe,previa_group_finish_path(previa_group), method: :post, data: { confirm: '¿Estás seguro?' }, class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
