<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Bandeja de entrada</h1>
  </div>
  <div class="panel-body">

  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <figure>
    <table class="table table-bordered" aria-labelledby="tabla-mensajes">
      <thead>
        <tr>
          <th id="columna_destinatario">Destinatario</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @groups_leading.each do |previa_group| %>
          <tr>
            <td headers="columna_destinatario"><%= previa_group.name%></td>
            <td headers="columna_acciones">
              <%= link_to "<span class='fa fa-navicon fa-lg' aria-hidden='true'></span> Ver".html_safe, previa_group_inbox_path(previa_group), class: "btn btn-success" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <figcaption id="tabla-mensajes" class="sr-only">
      Lista de los mensajes que recibio el usuario
    </figcaption>
  </figure>
  </div>
</div>
