<div class="panel panel-primary">
  <div class="panel-heading">Bandeja de entrada</div>
  <div class="panel-body">

  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

    <table class="table table-bordered" summary="Bandeja de entrada de los mensajes del usuario">
      <thead>
        <tr>
          <th id="columna_destinatario">Destinatario</th>
          <th id="columna_acciones">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @groups_leading.each do |previa_group| %>
          <tr>
            <td headers="columna_destinatario"><%= previa_group.name%></td>
            <td headers="columna_acciones">
              <span class="fa fa-navicon fa-lg"> <%= link_to 'Ver', previa_group_inbox_path(previa_group) %> </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
